body {
  padding-top: 60px;
}

.jumbotron {
  margin: 0px auto;
}

.row-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-link {
  color: #343a40;
  border-color: #343a40;
}

.page-link:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
